table {{
    background-color: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #f5f5f5;
    border-collapse: collapse;
    border-spacing:0;
    color:black;
    font-size:{fontsize}px;
    table-layout:fixed;
    grid-column: 1;
    grid-row: 1;
    }}

thead {{
    border-bottom:1px solid black;
    vertical-align:bottom;
    }}

tr, th, td {{
    text-align:right;
    vertical-align: middle;
    padding:0.5em 0.5em;
    line-height:normal;
    white-space:normal;
    max-width:none;
    border:none;
    }}

th {{
    font-weight:bold; 
    }}

tbody tr:nth-child(odd){{
    background:#f5f5f5;
    }}
    :link{{
    text-decoration:underline;
}}

div {{
    display: grid;
    justify-content: {justify};
}}

p {{
  grid-column: 1;
  grid-row: 2;
}}