.venv/

__pycache__/
.DS_store
.eggs/
.idea/
.ipynb_checkpoints/
dataframe_image.egg-info/
dist/
build/
.vscode/
site/
__init__.pyc
*.ipynb

# tests result
/tests/test_output/
/tests/**/*.pdf
/tests/**/*.png
/tests/**/*.md
/tests/**/*.gif
/tests/**/*.html
tests/notebooks/Short_dataframe_image.ipynb
