__pycache__/
.DS_store
.ipynb_checkpoints/
dataframe_image.egg-info/
dist/
build/
.vscode/
site/
__init__.pyc

# tests result
/tests/**/*.pdf
/tests/**/*.png
/tests/**/*.md
/tests/**/*.gif
tests/notebooks/Short_dataframe_image.ipynb
