# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
    tags:
      - v*
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
#         include:
#           - os: macos-latest
#             python-version: "3.10"
    steps:
    - uses: actions/checkout@v3
         
#     - name: Get MacTeX Version
#       if: ${{ matrix.os == 'macos-latest' }}
#       run: echo "TEX_VER=$(brew info mactex | grep -E -o '\d+\.\d+')" >> $GITHUB_ENV
    
#     - name: MacTeX Cache
#       if: ${{ matrix.os == 'macos-latest' }}
#       uses: actions/cache@v3.0.8
#       env:
#         cache-name: cache-brew
#       with:
#         # A list of files, directories, and wildcard patterns to cache and restore
#         path: |
#           ~/Library/Caches/Homebrew
#           ~/Library/Caches/Homebrew/Casks
#         # An explicit key for restoring and saving the cache
#         key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ env.TEX_VER }}
# #         # An ordered list of keys to use for restoring stale cache if no cache hit occurred for key. Note `cache-hit` returns false in this case.
# #         restore-keys: # optional
        
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Get pip cache dir
      id: pip-cache
      run: |
        echo "::set-output name=dir::$(pip cache dir)"
        
    - name: pip cache
      uses: actions/cache@v3
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: ${{ runner.os }}-py${{ matrix.python-version }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-        
          
    - name: Install latex windows (not working)
      if: ${{ matrix.os == 'windows-latest' }}
      run: |
        choco install miktex --params '"/Set:complete"'
        choco install pandoc --no-progress
    - name: Install latex linux
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: |
        sudo apt-get install -y xvfb libgtk2.0-0 libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 curl
        sudo apt-get install -y texlive-xetex texlive-fonts-recommended texlive-base pandoc 
    - name: Install latex mac
      if: ${{ matrix.os == 'macos-latest' }}
      run: |
        brew install --cask mactex 
        eval "$(/usr/libexec/path_helper)"
        echo "PATH=/Library/TeX/texbin:$PATH" >> $GITHUB_ENV
    - name: install pandoc
      if: ${{ matrix.os == 'macos-latest' }}
      run: brew install pandoc

    - name: upload logs
      if: ${{ matrix.os == 'windows-latest' }}
      uses: actions/upload-artifact@v2
      with:
        name: choco logs
        path: C:\ProgramData\chocolatey\logs\chocolatey.log

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel
        pip install pytest pandas nbconvert aiohttp matplotlib beautifulsoup4 requests notebook jupyter pandoc lxml selenium
    - name: mac nbconvert patch fix # this is a tmp fix, related to https://github.com/jupyter/nbconvert/issues/1773
      if: ${{ matrix.os == 'macos-latest' }}
      run: |
        mkdir -p ~/Library/Jupyter
        ln -s /opt/homebrew/share/jupyter/nbconvert ~/Library/Jupyter
    - name: Test with pytest
      run: |
        sed 's/:/\n/g' <<< "$PATH"    # show path
        pytest
    - name: Upload pdf
      uses: actions/upload-artifact@v2
      with:
        name: Test 1 PDF
        path: tests/notebooks/*.pdf
        
  publish:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    
    - name: build
      run: |
        pip install -U pip wheel build setuptools
        python3 -m build --wheel
        
    - name: Publish package
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
